## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,San Patricio,US,88.88,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,8,Awbari,LY,82.06,clear sky,26.5921,12.7805,فندق أوباري
2,28,Ixtapa,MX,86.23,clear sky,20.7000,-105.2000,Hotel Plaza Providencia
3,34,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,37,Tame,CO,88.84,broken clouds,6.4610,-71.7300,Hospedaje Santa Ana

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=='Wilmington')]
vacation_end = vacation_df.loc[(vacation_df['City']=='Wilmington')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']=='Sevierville')]
vacation_stop2 = vacation_df.loc[(vacation_df['City']=='San Patricio')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City']=='Estacion Coahuila')]

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {vacation_start}, Stop 2: {vacation_stop1}, Stop 3: {vacation_stop2}, Stop 4: {vacation_stop3}, End: {vacation_end}')

Stop 1:     City_ID        City Country  Max Temp Current Description      Lat  \
63      427  Wilmington      US     80.94       broken clouds  34.2257

        Lng                                         Hotel Name
63 -77.9447  Hotel Ballast Wilmington, Tapestry Collection ...  , Stop 2:     City_ID         City Country  Max Temp Current Description      Lat  \
11      104  Sevierville      US     82.15          few clouds  35.8681

        Lng              Hotel Name
11 -83.5618  The Lodge at Five Oaks  , Stop 3:    City_ID          City Country  Max Temp Current Description     Lat  \
0        4  San Patricio      US     88.88           clear sky  28.017

       Lng          Hotel Name
0 -97.5169  Motel 6 Sinton, TX  , Stop 4:     City_ID               City Country  Max Temp Current Description      Lat  \
91      577  Estacion Coahuila      MX      83.5     overcast clouds  32.1939

         Lng                    Hotel Name
91 -115.0017  carroceria y pintura Kikones  , End:     City_ID        City Country  Max Temp Current Description      Lat  \
63      427  Wilmington      US     80.94       broken clouds  34.2257

        Lng                                         Hotel Name
63 -77.9447  Hotel Ballast Wilmington, Tapestry Collection ...

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,427,Wilmington,US,80.94,broken clouds,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
1,104,Sevierville,US,82.15,few clouds,35.8681,-83.5618,The Lodge at Five Oaks
2,4,San Patricio,US,88.88,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
3,577,Estacion Coahuila,MX,83.50,overcast clouds,32.1939,-115.0017,carroceria y pintura Kikones

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))